<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<style>
  * {
    box-sizing: border-box;
  }
  html {
    height: 100%;
    width: 100%;
  }
</style>
<body style="height:100%; width:100%;">
  <div style="position:fixed; width:100%; background-color:white; padding-left:15px; padding-right:15px; z-index:999;">
    <navbar>
      <div>
        <a href="{% url 'index' %}">메인화면</a>
        <div style="float:right;">
          {% if user.is_authenticated %}
            <b>{{ user.nickname }}님</b> 환영합니다! 
            {% if user.is_superuser %}
              <a href="{% url 'total_admin' %}">통합 관리</a>
            {% endif %}            
            <a href="{% url 'profile' user.id %}">내 프로필</a>
            <a href="{% url 'account_logout' %}">로그아웃</a>
          {% else %}
            <a href="{% url 'account_login' %}">로그인</a>
            <a href="{% url 'account_signup' %}">회원가입</a>
          {% endif %}
        </div>
      </div>
    </navbar>
    <br>
    <navbar style="font-weight:bold; font-size:25px;">
      <div style="width:15%; float:left; text-align:center;"><a href="{% url 'room' 5 %}" style="text-decoration:none; color:black;">시사이슈</a></div>
      <div style="width:14%; float:left; text-align:center;"><a href="{% url 'room' 6 %}" style="text-decoration:none; color:black;">연예</a></div>
      <div style="width:14%; float:left; text-align:center;"><a href="{% url 'room' 7 %}" style="text-decoration:none; color:black;">스포츠</a></div>
      <div style="width:14%; float:left; text-align:center;"><a href="{% url 'room' 8 %}" style="text-decoration:none; color:black;">주식</a></div>
      <div style="width:14%; float:left; text-align:center;"><a href="{% url 'room' 13 %}" style="text-decoration:none; color:black;">게임</a></div>
      <div style="width:14%; float:left; text-align:center;"><a href="#" style="text-decoration:none; color:grey;">복놀이터(추후오픈)</a></div>
      <div style="width:15%; float:left; text-align:center;"><a href="#" style="text-decoration:none; color:grey;">기타(추후오픈)</a></div>
      <!-- float 없애기용 -->
      <div></div>
    </navbar>
    <br>
    <hr style="border-style:solid; border-width:1px; width:100%; border-color:black; margin-top:7px;">
  </div>

  <!-- navbar위치에 내용 없애기용 -->
  <br>
  <div style="height:87px;"></div>

  {% block contents %}
  {% endblock contents %}

</body>
</html>
