
{% extends './base.html' %}

{% load static %}
  
{% block contents %}
    <link rel="stylesheet" type="text/css" href="{% static 'chat/styles/style.css' %}">

    <div style = "pointer-events : none">
      전체사용자<br>    
      <script id="_wauowl" style = "pointer-events : none;">var _wau = _wau || []; _wau.push(["colored", "b1iscln2g4", "owl", "ffffff000000"]);</script><script async src="//waust.at/co.js"></script>
    </div>

    <h3>Issue TOP10</h3>
    <div id='issue-wrap'>
      {% for issue in issue_top10  %}
      <div id='issue'>            
        <span>
          {{forloop.counter}}. <label for="a{{forloop.counter}}">{{issue.keyword}}</label>
        </span>
        <input id="a{{forloop.counter}}" type="checkbox">
        <div id="issue-detail">     
          <h2>{{issue.title}}</h2>
          <p>{{issue.context}}</p>
          <span><a href='{{issue.link1}}'>{{issue.link1}}</a></span>
          <span><a href='{{issue.link2}}'>{{issue.link2}}</a></span>
          <span><a href='{{issue.link3}}'>{{issue.link3}}</a></span>
          <span style="float: right;"><label for="a{{forloop.counter}}"><<<뒤로</label></span>
        </div>
      </div>
      {% endfor %}
    </div>
    <p></p>

    <br>
    채팅 방을 골라 입장해 주세요<br><br>
    주제<br>


    {% for room in chatrooms %}
      <a href = {% url 'room' room.id %}>{{ room.title }}</a> &nbsp;&nbsp; 채팅 접속자 수: {{room.connect_user.count}} <br>
    {% endfor %}
    
    <br><br>포인트 탑10
    <div>
      {% for person in point_top10 %}
        {{person.nickname}}&nbsp;&nbsp;{{person.point}}<br>
      {% endfor %}
    </div>

{% endblock contents %}

