{% extends "./base.html" %} 

{% block contents %}
  <br>투표 이력<br>
  {% for vote in vote_history %}
    <b>방제 :</b> {{vote.title}}  &nbsp;&nbsp;&nbsp;&nbsp; 
    <b>투표 주제 :</b> {{ vote.content_vote }} &nbsp;&nbsp;&nbsp;&nbsp; 
    <b>내 의견 : </b> 
      {% if user in vote.vote_a.all %}
        {{ vote.content_a }}  &nbsp;&nbsp;&nbsp;&nbsp;
        <b>투표 결과 : </b> 
        {% if vote.vote_a.count > vote.vote_b.count %}
          승리(포인트 획득)  &nbsp;&nbsp;&nbsp;&nbsp;
        {% elif vote.vote_a.count == vote.vote_b.count %}
          무승부(포인트 획득)  &nbsp;&nbsp;&nbsp;&nbsp;
        {% else %}
          패배(포인트 X)  &nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
      {% else %}
        {{ vote.content_b }}
        <b>투표 결과 : </b>  &nbsp;&nbsp;&nbsp;&nbsp; 
        {% if vote.vote_a.count < vote.vote_b.count %}
          승리(포인트 획득)  &nbsp;&nbsp;&nbsp;&nbsp;
        {% elif vote.vote_a.count == vote.vote_b.count %}
          무승부(포인트 획득)  &nbsp;&nbsp;&nbsp;&nbsp;
        {% else %}
          패배(포인트 X)  &nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
      {% endif %}
    <b>투표 날짜 :</b> {{ vote.dt_created }} ~ {{ vote.dt_end }}  &nbsp;&nbsp;&nbsp;&nbsp; 
    <a href = {% url 'vote_detail' vote.id %}>자세히 보기</a> <br>
  {% empty %}
    참여 완료 및 종료된 투표가 없습니다.
  {% endfor %}
{% endblock contents %}