#issue-wrap {
    /* border: 1px solid; */
}


#issue {
    position: relative;
    float: left;
    width: 20%;
    height: 80%;    
    border: 1px solid;
    padding: 5px;
}

#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10 {
    display: none;    
}

label:hover {
    background-color: aqua;
    text-decoration: underline;
}

#issue-detail
{
    display: none;
    position: absolute;
    background-color: white;
    z-index: 10;
    left: 10px;
    top: 10px;
    border: 1px solid green;
}

#a1:checked + #issue-detail,
#a2:checked + #issue-detail,
#a3:checked + #issue-detail,
#a4:checked + #issue-detail,
#a5:checked + #issue-detail,
#a6:checked + #issue-detail,
#a7:checked + #issue-detail,
#a8:checked + #issue-detail,
#a9:checked + #issue-detail,
#a10:checked + #issue-detail
{
    display:block;
}
