#issue-wrap {
    display: inline-block;
    float: left;
    width: 20%;
    left: 5%;
    padding: 1% 2%;    
    font-size: 1.2rem;
}

#chat-wrap {
    display: inline-block;
    float: left;
    width: 45%;
    left: 5%;    
    padding: 1% 2%;
    font-size: 1.2rem;
}

#point-rank-wrap {
    display: inline-block;
    float: left;
    width: 20%;
    left: 5%;    
    padding: 1% 2%;
    font-size: 1.2rem;
}


#issue {
    display: inline-block;
    /* float: left; */
    width: 95%;
    height: 80%;    
    border: 1px solid;
    padding: 3%;
    margin: 2.5% 0;
}

#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10 {
    display: none;    
}

label:hover {
    background-color: aqua;
    text-decoration: underline;
}

#issue-detail
{
    box-sizing: border-box;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 23%;
    left: 10px;
    top: 20%;
    border: 1px solid green;
    height: 75%;
    padding: 5%;
}


#a1:checked + #issue-detail, 
#a2:checked + #issue-detail, 
#a3:checked + #issue-detail, 
#a4:checked + #issue-detail, 
#a5:checked + #issue-detail, 
#a6:checked + #issue-detail,
#a7:checked + #issue-detail, 
#a8:checked + #issue-detail, 
#a9:checked + #issue-detail, 
#a10:checked + #issue-detail
{
    display:block;
}

.context{
    line-height: 1.2rem;
    height: 18rem;    
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
}

